table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;

  thead {
    background-color: #333; 
    color: #fff; 
    text-align: left;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f2f2f2; 
      }

      &:nth-child(odd) {
        background-color: #fff; 
      }

      &:hover {
        background-color: #ffc107; 
        color: #000; 
      }
    }

    td {
      padding: 8px;
      border: 1px solid #ccc; 
      color: #333; 
    }
  }

  th {
    padding: 10px;
    border: 1px solid #ccc;
    color: #fff; 
  }
}
