<div>
  <h2>Orders Management</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Table Number</th>
        <th>Date and Time</th>
        <th>Items</th>
        <th>Unit Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.tableNumber }}</td>
        <td>{{ order.dateTime }}</td>
        <td>
          <ul>
            <li *ngFor="let item of order.items">
              <!-- {{ item.name }} (x{{ item.quantity }}) - {{ item.unitPrice | currency: 'CAD' }} -->
              {{ item.name }} (x{{ item.quantity }}) - {{ item.unitPrice }}
            </li>
          </ul>
        </td>
        <!-- <td>{{ order.totalPrice | currency: 'CAD' }}</td> -->
        <td>{{ order.totalPrice }}</td>
      </tr>

    </tbody>
  </table>
</div>