/* Login Section */
.login-section {
  margin: 20px;
  margin-bottom: 0px;
  padding: 16px;
  background-color: #989494; 
  border-radius: 8px;
  justify-items: center;

  .login-fields {
    display: flex;
    gap: 16px; 
    margin-bottom: 20px;

    mat-form-field {
      background-color: #807d7d; /* fields background */
      border-radius: 8px;
      padding: 8px;
      width: 350px;
    }
  }

  .button-group {
    margin-top: 10px;
    //margin-left: 25px;
    display: flex;
    gap: 16px; 
    align-self: flex-start;
    margin-left: 0;

    button {
      font-size: 1em; 
      padding: 8px 16px;
      //margin-left: 8px;
      margin-right: 30px;
      width: 200px; 
      //text-align: center; 
    }
  }

  .error-message {
    color: red; 
    font-weight: bold; 
    margin-top: 8px; 
    text-align: center;
  }
}

/* Section Divider */
.section-divider {
  margin: 25px 0; /*Margin between sections */
  border-top: 1px solid #ccc;
}

/* Feedback Section */
.feedback-section {
  text-align: center;
  margin: 32px auto;
  width: 50%; 
  font-size: 1.2em; 

  .feedback-fields {
    display: flex;
    justify-content: center;
    gap: 16px;

    .half-width {
      flex: 1 1 45%;
    }
  }

  .full-width {
    width: 100%;
    margin: 16px 0;
  }

  mat-form-field {
    display: block;
    margin-bottom: 16px;
    background-color: #959191;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }

  textarea {
    min-height: 100px;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;

    button {
      font-size: 1.1em; 
      padding: 8px 16px;
    }
  }
}

/* Menu Items */
mat-toolbar {
  font-size: 1.1em; 
  background-color: #333; 
  color: #fff;

  button {
    font-size: 1em; 
    color: #fff;

    &:hover {
      color: #d8e5f4;
    }
  }
}
